.title {
  font-size: 50pt;
  text-align: left;
}

.quarto-title-author-name {
  font-size: 65%;
  position: absolute;
  top: 60%;
  left: 0%;
}

.quarto-title-affiliation {
  font-size: 65%;
  position: absolute;
  left: 0%;
}